body {
  padding: 50px 0 0 0;
  z-index: 0;
}

.navbar-dark {
  background-color: #512da8;
}

.row-header {
  margin: 0 auto;
  padding: 0 auto;
}

.row-content {
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;
  margin: 0 auto;
  padding: 20px 0;
}

.jumbotron {
  padding: 70px 30px;
  margin: 0 auto;
  background-color: #9575cd;
  color: floralwhite;
}

.address {
  font-size: 0.8em;
  margin: 0;
  color: #0f0f0f;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 8px;
}

.carousel {
  background-color: #512dab;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
